name: Frontend CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm install

    - name: Run JS Tests
      run: npm test

    - name: Validate HTML
      run: npx html-validate "**/*.html" || echo "No HTML files found."

    - name: Lint CSS
      run: npx stylelint "**/*.css" || echo "No CSS files found."

    - name: Lint JS
      run: npx eslint "**/*.js" || echo "No JS files found."
